<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del viaje</title>
</head>
<body>
    <h1>Planea tus vacaciones</h1>
    <form method="POST">
        A donde quieres viajar?:<input type="text" name="destino" /><br/>
        Aeropuerto de origen:<input type="text" name="aeropuertoorigen" /><br/>
        Aeropuerto de destino:<input type="text" name="aeropuertodestino" /><br/>
        Fecha de salida:<input type="date" name="fechasalida" /><br/>
        Fecha de regreso:<input type="date" name="fecharegreso" /><br/>
        Numero de personas:<input type="number" name="personas" /><br/>
        Presupuesto:<input type="number" name="presupuesto" /><br/>
        <input type="submit" value="Busqueda" />
    </form>
</body>
</html>