<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la busqueda</title>
</head>
<body>
    <h1>Opcion 1 para tu viaje</h1>
    <h2>Vuelo</h2>
    <h3>Vuelo de ida</h3>
    <ul>Aerolinea: {{opcionesvuelos[0].airline_dep}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[0].departureairport_dep}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[0].arrivalairport_dep}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[0].layoverqty_dep}}</ul>
    {%if opcionesvuelos[0].layoverqty_dep != 0%}
        {%for l in opcionesvuelos[0].layovers_dep%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Hora de salida: {{opcionesvuelos[0].departuretime_dep}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[0].arrivaltime_dep}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[0].airplane_dep}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[0].flightnumber_dep}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[0].totalduration_dep}}</ul>

    <h3>Vuelo de regreso</h3>
    <ul>Aerolinea: {{opcionesvuelos[1].airline_ret}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[1].departureairport_ret}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[1].arrivalairport_ret}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[1].layoverqty_ret}}</ul>
    {%if opcionesvuelos[1].layoverqty_ret != 0%}
        {%for l in opcionesvuelos[1].layovers_ret%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Hora de salida: {{opcionesvuelos[1].departuretime_ret}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[1].arrivaltime_ret}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[1].airplane_ret}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[1].flightnumber_ret}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[1].totalduration_ret}}</ul>


    <ul>Precio: ${{opcionesvuelos[0].price}}MXN redondo</ul>

    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[0].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[0].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[0].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[0].rating}}/5</ul>
    <ul>Noches: {{opcioneshoteles[0].nights}}</ul>
    <ul>Precio: ${{opcioneshoteles[0].price}}MXN por noche</ul>
    <ul>Precio en total: ${{opcioneshoteles[0].totalprice}}MXN</ul>

    <h3>El costo total por esta opcion es de: ${{opcioneshoteles[0].totalprice + opcionesvuelos[0].price}}MXN</h3>
    <h3>Esta opcion {{cumplepresupuesto[0]}} cumple con tu presupuesto</h3>

    <h1>Opcion 2 para tu viaje</h1>
    <h2>Vuelo</h2>
    <h3>Vuelo de ida</h3>
    <ul>Aerolinea: {{opcionesvuelos[2].airline_dep}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[2].departureairport_dep}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[2].layoverqty_dep}}</ul>
    {%if opcionesvuelos[2].layoverqty_dep != 0%}
        {%for l in opcionesvuelos[2].layovers_dep%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Aeropuerto de llegada: {{opcionesvuelos[2].arrivalairport_dep}}</ul>
    <ul>Hora de salida: {{opcionesvuelos[2].departuretime_dep}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[2].arrivaltime_dep}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[2].airplane_dep}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[2].flightnumber_dep}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[2].totalduration_dep}}</ul>


    <h3>Vuelo de regreso</h3>
    <ul>Aerolinea: {{opcionesvuelos[3].airline_ret}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[3].departureairport_ret}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[3].arrivalairport_ret}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[3].layoverqty_ret}}</ul>
    {%if opcionesvuelos[3].layoverqty_ret != 0%}
        {%for l in opcionesvuelos[3].layovers_ret%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Hora de salida: {{opcionesvuelos[3].departuretime_ret}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[3].arrivaltime_ret}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[3].airplane_ret}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[3].flightnumber_ret}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[3].totalduration_ret}}</ul>
    
    <ul>Precio: ${{opcionesvuelos[2].price}}MXN redondo</ul>


    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[1].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[1].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[1].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[1].rating}}/5</ul>
    <ul>Noches: {{opcioneshoteles[1].nights}}</ul>
    <ul>Precio: ${{opcioneshoteles[1].price}}MXN por noche</ul>
    <ul>Precio en total: ${{opcioneshoteles[1].totalprice}}MXN</ul>

    <h3>El costo total por esta opcion es de: ${{opcioneshoteles[1].totalprice + opcionesvuelos[1].price}}MXN</h3>
    <h3>Esta opcion {{cumplepresupuesto[1]}} cumple con tu presupuesto</h3>

    <h1>Opcion 3 para tu viaje</h1>
    <h2>Vuelo</h2>
    <h3>Vuelo de ida</h3>
    <ul>Aerolinea: {{opcionesvuelos[4].airline_dep}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[4].departureairport_dep}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[4].arrivalairport_dep}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[4].layoverqty_dep}}</ul>
    {%if opcionesvuelos[4].layoverqty_dep != 0%}
        {%for l in opcionesvuelos[4].layovers_dep%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Hora de salida: {{opcionesvuelos[4].departuretime_dep}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[4].arrivaltime_dep}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[4].airplane_dep}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[4].flightnumber_dep}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[4].totalduration_dep}}</ul>

    <h3>Vuelo de regreso</h3>
    <ul>Aerolinea: {{opcionesvuelos[5].airline_ret}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[5].departureairport_ret}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[5].arrivalairport_ret}}</ul>
    <ul>Cantidad de escalas: {{opcionesvuelos[5].layoverqty_ret}}</ul>
    {%if opcionesvuelos[5].layoverqty_ret != 0%}
        {%for l in opcionesvuelos[5].layovers_ret%}
            <ul>Escala: {{l.name}}, Duracion: {{l.duration}} minutos</ul>
        {%endfor%}
    {%endif%}
    <ul>Hora de salida: {{opcionesvuelos[5].departuretime_ret}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[5].arrivaltime_ret}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[5].airplane_ret}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[5].flightnumber_ret}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[5].totalduration_ret}}</ul>

    <ul>Precio: ${{opcionesvuelos[4].price}}MXN redondo</ul>

    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[2].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[2].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[2].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[2].rating}}/5</ul>
    <ul>Noches: {{opcioneshoteles[2].nights}}</ul>
    <ul>Precio: ${{opcioneshoteles[2].price}}MXN por noche</ul>
    <ul>Precio en total: ${{opcioneshoteles[2].totalprice}}MXN</ul>

    <h3>El costo total por esta opcion es de: ${{opcioneshoteles[2].totalprice + opcionesvuelos[2].price}}MXN</h3>
    <h3>Esta opcion {{cumplepresupuesto[2]}} cumple con tu presupuesto</h3>

    <h1>Atracciones para visitar</h1>
    {%for a in opcionesatracciones%}
        <ul>Nombre: {{a.name}}</ul>
        <ul>Precio: {{a.price}}USD</ul>
        <ul><img src={{a.thumbnail}} alt="atraccion" /></ul>
        <ul>&nbsp</ul>

    {%endfor%}

</body>
</html>