<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la busqueda</title>
</head>
<body>
    <h1>Opcion 1 para tu viaje</h1>
    <h2>Hotel</h2>
    <ul>{{opcioneshoteles[0].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[0].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[0].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[0].price}}MXN por noche</ul>
    <img src="https://lh3.googleusercontent.com/proxy/AW1j2zpV1rz4E-q_nnPwzYDII6Pz2Jsv4T2UD_3f9eZWY5KIvlqRFEBYQ3O4TLG-g0kvzl9IZlFqwMwZgdjfNp0VHubYoc-THRJblTnr01P72kRCiM2iYe0AzDJj599yh3JmX9egCoL1mGHyZ_Ju_je_tk7xWA=w225-h150-k-no" alt="Logo de HTML5" />

    <h1>Opcion 2 para tu viaje</h1>
    <h2>Hotel</h2>
    <ul>{{opcioneshoteles[1].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[1].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[1].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[1].price}}MXN por noche</ul>

    <h1>Opcion 3 para tu viaje</h1>
    <h2>Hotel</h2>
    <ul>{{opcioneshoteles[2].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[2].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[2].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[2].price}}MXN por noche</ul>
</body>
</html>