<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la busqueda</title>
</head>
<body>
    <h1>Opcion 1 para tu viaje</h1>
    <h2>Vuelo</h2>
    <ul>Aerolinea: {{opcionesvuelos[0].airline}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[0].departureairport}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[0].arrivalairport}}</ul>
    <ul>Hora de salida: {{opcionesvuelos[0].departuretime}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[0].arrivaltime}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[0].airplane}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[0].flightnumber}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[0].totalduration}}</ul>
    <ul>Precio: ${{opcionesvuelos[0].price}}MXN redondo</ul>

    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[0].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[0].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[0].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[0].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[0].price}}MXN por noche</ul>

    <h1>Opcion 2 para tu viaje</h1>
    <h2>Vuelo</h2>
    <ul>Aerolinea: {{opcionesvuelos[1].airline}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[1].departureairport}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[1].arrivalairport}}</ul>
    <ul>Hora de salida: {{opcionesvuelos[1].departuretime}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[1].arrivaltime}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[1].airplane}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[1].flightnumber}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[1].totalduration}}</ul>
    <ul>Precio: ${{opcionesvuelos[1].price}}MXN redondo</ul>

    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[1].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[1].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[1].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[1].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[1].price}}MXN por noche</ul>

    <h1>Opcion 3 para tu viaje</h1>
    <h2>Vuelo</h2>
    <ul>Aerolinea: {{opcionesvuelos[2].airline}}</ul>
    <ul>Aeropuerto de salida: {{opcionesvuelos[2].departureairport}}</ul>
    <ul>Aeropuerto de llegada: {{opcionesvuelos[2].arrivalairport}}</ul>
    <ul>Hora de salida: {{opcionesvuelos[2].departuretime}}</ul>
    <ul>Hora de llegada: {{opcionesvuelos[2].arrivaltime}}</ul>
    <ul>Tipo de avion: {{opcionesvuelos[2].airplane}}</ul>
    <ul>Numero de vuelo: {{opcionesvuelos[2].flightnumber}}</ul>
    <ul>Duracion del vuelo: {{opcionesvuelos[2].totalduration}}</ul>
    <ul>Precio: ${{opcionesvuelos[2].price}}MXN redondo</ul>

    <h2>Hotel</h2>
    <ul><img src={{opcioneshoteles[2].thumbnail}} alt="hotel" /></ul>
    <ul>{{opcioneshoteles[2].hotelname}}</ul>
    <ul>Ubicacion: {{opcioneshoteles[2].coordinates}}</ul>
    <ul>Rating: {{opcioneshoteles[2].rating}}/5</ul>
    <ul>Precio: ${{opcioneshoteles[2].price}}MXN por noche</ul>
</body>
</html>